
.header.
  #{c} Create your own elements by copying and pasting the code below. 
  #{c} In a way, provides boilerplate code. 
  #{c} Shortly put, you can edit all the <b>bright blue</b> stuff.
  #{c} The <i>dark blue</i> stuff is comments, those can be hidden.
  #{c} Some ease-of-use features are in the box on the right.
  #{c} You can simply copy/paste everything here after modifying.
  #{c} by boxmein / <a href="/about">About</a> / <a href="/">C++ version</a> / <a href="/lua">Lua version</a> / <a href="/c">C version</a> / <a href="/reference/">Reference</a> / <a href="/reference/lua">Lua reference</a>
  #{c} Off-site: <a href="http://github.com/boxmein/TPTElements/tree/express">on GitHub</a> / <a href="http://tpt.io/@boxmein">Contact</a> / <a href="http://powdertoy.co.uk/Wiki/W/Coding-tutorial.html">Coding tutorial</a> / <a href="http://powdertoy.co.uk">Powder Toy</a>

